
/* ===FOOTER ===*/
.icon-Web-Studio-footer{
    color: var(--accent-color);
  }
  .icon-Web-Studio-footer{
    width: 145px;
    height: 31px;
    padding:0;
    margin:0;
    margin-bottom: 20px;
  }
  .footer{
    text-transform: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-color);
    background-color: #2F303A;
  }
  .footer .container{
    padding-top: 60px;
    padding-bottom: 60px;
    font-style: normal;
  }
  .footer-logo{
    margin-bottom: 20px;
  }
  
  .address.map{
    color: var(--white-color);
    margin-bottom: 9px;
  }
  .address:not(:last-child){
    margin-bottom: 9px;
  }
  
  .features-list-itemm{
    width: 170px;
    height: 90px;
    background-position: 50% 50%;
  }

  .icon-Web-Studio-footer{
    fill: var(--accent-color);
  }
  
  .footer-title{
    width: 145px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
  
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .subscribe{
  width: 206px;
  grid-template: 80px;
  margin-left: 70px;
  margin-right: 93px;
  }
  
  .container-social-team{
    margin: 0 auto;
  }
  .container-social{
    width: 206px;
    height: 44px;
    justify-content: center;
  }
  /*ul*/
  .social-list{
    display: flex;
  }
  
  /*li*/
  .social-list-item{
    display: flex;
    margin: 0 auto;
    
  }
  
  /*a*/
  .social-list-item-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid transparent;
    fill: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-list_svg-footer{
    width: 20px;
    height: 20px;
  }
  
  .social-list-item-link-footer:hover{
    fill: var(--white-color);
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
  }
  
  
  strong{
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .subscription{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }
  /*   outline: 1 px solid red;
   */  
   .subscription-form{
     display: flex;
     justify-content: center;
   }
  .subscription-form .colortext{
    display: inline-block;
    margin-top: 20px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: 1 px solid red;
  
  }
  
  .colortext{
    background-color: #2F303A;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-top: 0;
  }
  .colortext{
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
  }
  
  .sub.hero-btn{ 
    display: flex;
    color: var(--white-color);
    background-color:var(--accent-color);
    width: 200px;
    height: 50px;
  
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    border-radius: 4px;
    margin-left: 12px;
  }
  .sub{
    margin:0;
    padding:0;
    align-items: center;
    margin-top: 10px;
  }
  .sub.hero-btn img{
    display: flex;
    border: none;
    margin-left: 10px;
    margin: 0;
    padding: 0;
  }
  /* ===END FOOTER ===*/
  