/* !=== FEATURES===*/
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  align-items: center;
}

.features-item {
  width: 270px;

  &:nth-child(1)::before {
    display: block;
    content: '';
    width: 270px;
    height: 120px;
    background-color: $team-bg;
    background-image: url(../images/features/tv-table.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:nth-child(2)::before {
    display: block;
    content: '';
    width: 270px;
    height: 120px;
    background-color: $team-bg;
    background-image: url(../images/features/clock.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:nth-child(3)::before {
    display: block;
    content: '';
    width: 270px;
    height: 120px;
    background-color: $team-bg;
    background-image: url(../images/features/computer.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:nth-child(4)::before {
    display: block;
    content: '';
    width: 270px;
    height: 120px;
    background-color: $team-bg;
    background-image: url(../images/features/astronaut.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  margin-top: 30px;
  text-align: left;
}

.title-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $text-color;
  letter-spacing: 0.03em;
  text-align: left;
}
