/* ===  МОДАЛЬНОЕ ОКНО ===*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
  
    z-index:99;
    width: 100%;
    height: 100%;
    background-color: $backdrop;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden{
    /* должен быть 0 - прозрачный*/
    opacity: 0; 
    visibility: hidden;
    pointer-events: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .pop-ups{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    margin-top: 50px;
    transition: trans form 250mx cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .modal{
    position: relative;
    max-width: 528px;
    min-height: 581px;
    padding: 40px;
    margin: auto;
    background-color: $white-color;
  
    transform: scale(1);
    opacity: 1;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  
  }
  
  .backdrop.is-hidden .modal{
    opacity: 0;
    margin-top: 50px;
    margin-top: 50px;
    transform: translate (-50%, -50%) scale(0);
  
  }
  .close{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    fill: black;
    border: 1px solid $input-border;
    border-radius: 50%;
    padding:6px;
    margin: 14px;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover, &:focus{
      fill: $accent-color;
      border:$accent-color;
      color: $accent-color;
      cursor: pointer;
  }
  }
  
  .close img{
      width: 11px;
      height: 11px;
      
  }
  
  
  /* ===  КОНЕЦ МОДАЛЬНОГО ОКНА  ===*/
  
  /* === FORM === */
  input:hover, input:focus,
  textarea:hover, textarea:focus{
    border-color: $accent-color;
  }
  
  .group{
    width: 528px;
    height: 581px;
  }
  
  .form-field{
    display: block;
    position: relative;
    overflow: hidden;
  }
  
   .form-input{
    width: 448px;
    height: 40px;
    padding: 0;
    padding-left: 42px;
    padding-right: 42px;
    border-radius: 4px;
    border: 1px solid $input-border;  
    color: $accent-color;
    margin-bottom: 10px;
  } 
  
  .form-label{
    display: inline-block;
    position: absolute;
    top: 19%;
    left:0px;
    margin-left: 42px;
  }
  .form-input:focus +.form-label,
  .form-input:not(:placeholder-shown) +.form-label{
  transform: translateY(-50px);
  fill: $accent-color;
  border-color:  $accent-color;
  color: $accent-color;
  cursor: pointer;
  }
  
  .form-input:placeholder-shown{
    background-color: $white-color;
  }
  
  
  textarea{
    resize: none;
  }
  .icon{
    position: absolute;
    top:0;
    left:0;
    margin: 12px 15px;
  
    display: inline-block;
    width: 14px;
    height: 14px;
  }
  .form-input:focus ~ .icon{
    fill: $accent-color;
  }
  
  /*чтобы пользователь не увеличил поле*/
  .textarea-input{
    width: 448px;
    height: 120px;
    resize: none;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid $input-border;  
  }
  
  .textarea-input:focus +.form-label.text,
  .textarea-input:not(:placeholder-shown) +.form-label.text{
  transform: translateY(-50px);
  fill: $accent-color;
  border-color:  $accent-color;
  color: $accent-color;
  cursor: pointer;
  }
  
  /* Оставьте свои данные, мы вам перезвоним */
  .group-title{
/*     display: inline;
 */    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
  }
  
  .group-title-item{
    margin: 0;
    margin-bottom: 4px;
  }
  
  .form-label.text{
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    margin:0;
    padding: 12px 16px;
    border: none;
    color: $text-color;
  }
  .form-field:focus .form-label.text{
    transform: translateY(-50px);
    color: $accent-color;
  }
  
  .checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    overflow: hidden;
  }
  
  
  
  .checkbox::before{
    content:"";
    display:inline-block;
    border: 1px solid $checkbox-border;
    border-radius: 4px;
    width: 16px;
    height: 15px;
    margin-top: 3px;
    background-color: transparent;
    vertical-align: middle;
    
    transition: transform 250ms ease;
  }
  /* .checkbox:hover::before{
    transform: translatey(-35px);
  } */
  
  .checkbox::after{
    position:absolute;
    top: 2px;
    left: 0px;
    content:"";
    border: 1px solid $title-color;
    border-radius: 4px;
    display:inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/SVG/icon-check.svg);
    transform: translatey( +35px);
    
    transition: transform 250ms ease;
  }
  
  .checkbox:checked::after{
    transform: translatey(0);
  }
  
  .checkbox-text{
    margin-left: 23px;
  }
  /* === END CHECKBOX ===*/
  
  .contract-title{
    margin-bottom: 30px;
  }
  a.contract{
    color: $accent-color;
  }
  .send-btn{
    display: flex;
    justify-content: center;
    border: 1px solid $accent-color;
    margin: 0 132px;
    margin-top: 30px;
    background-color: $accent-color;
    color: $white-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  padding: 10px 55px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-input:focus,
  .form-input:hover,
  textarea:focus,
  textarea:hove, .checkbox:checked, .checkbox:focus{
    border-color: $accent-color;
  }
  /* ===CHECKBOX ===*/
  /*  .checkbox{
    -webkit-appearance: none;
    position: absolute;
  } */
  
   .label{
    display: inline;
    position: relative;
    top:0;
    left:0;
  }
  
  .checkbox-icon{
    margin: 0;
    width: 15px;
    height: 15px;
    border-radius: 4px;
  }
  
  .checkbox:checked +.icon{
   background-image: url(../images/SVG/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border: 2px solid $accent-color;
    border: none;
  }
  
  /* === END CHECKBOX ===*/
  
  /* === END FORM ===*/