:root{
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --hero-bg: #2F303A;
    --main-bg: #E5E5E5;
    --team-bg: #F5F4FA;
    --header-bg: #ffffff;
    --address-color: #rgba(255, 255, 255, 0.6)
    --partner-border: #AFB1B8;
  }